<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Search page</h1>
      </div>
    </div>
  </section>
</main>
</html>
<%= form_with url: search_path, method: :get, data: {turbo: false}, class: 'search-form' do |form|%>
  <%= form.label :name, style: "display: block"%>
  <%= form.text_field :name, value: params[:name] %>
  <%= form.label :language_type, style: "display: block" %>
  <%= form.text_field :language_type, value: params[:language_type] %>
  <%= form.label :designed_by, style: "display: block" %>
  <%= form.text_field :designed_by, value: params[:designed_by] %>
  <div class="mb-5 mt-2">
    <%=form.submit 'Search' %>
  </div>
<% end %>

  <div>
    <%- unless @results.blank? %>
      <%= render 'search/search'%>
    <% end %>
  </div>


